.form-item {
    margin: 10px auto;
    box-sizing: border-box;
}

.form-item-container {
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
}

.form-layout {
    border: solid 1px lightgray;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}


textarea.form-layout { height: 100%; }

img#uploadedImage {
    height: 10vw;
    width: auto;
    max-width: 350px;
    max-height: 250px;
    object-fit: fill;
    margin: auto;
    display: flex;
}

#imageUpload + label {
    margin: 0 auto;
}

#inputFormWrapper { flex-direction: column; }
#inputFormWrapper div.input-form-item:not(:last-child) {
    margin-bottom: 20px;
}
#inputFormWrapper div.input-item:not(:last-child) {
    border-right: solid 1px grey;
}
.input-form-item {
    padding: 2%;
    line-height: 2;
}
.input-form-item > div { padding: 0 1vw; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input, .custom-select {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
textarea { resize: none; }
textarea, input {
    border: none;
    font-family: Ubuntu;
    outline: none;
}

#textAreaContainer div:first-child { width: 100%; }
#characterInfo {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    font-size: small;
    color: grey;
}

#displayedText {
    transform: perspective(1000px) rotateX(9deg) rotateY(9deg) rotateZ(-48deg) skew(-2deg,-3deg);
    position: absolute;
    width: 40%;
    height: 45%;
    top: 17%;
    left: 19%;
    background: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 100%;
    font-style: italic;
}

#displayedImage{
    transform: perspective(800px) rotateX(8deg) rotateY(4deg) rotateZ(-54deg) skew(7deg,-7deg);
    position: absolute;
    width: 40%;
    height: 53%;
    top: 24%;
    right: 14%;
    padding: 20px;
    box-sizing: border-box;
}

#currencyDropdownWrapper {
    width: 20vw;
}

#currencyOptionsWrapper {
    background: white;
    position: absolute;
    z-index: 5;
    width: auto;
}

#currencyOptions {
    max-width: 100%;
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

ul.currency-option-ul {
    margin: 0;
    padding: 0;
    overflow: scroll;
}
li.currency-option-li {
    list-style: none;
    margin: 0;
    padding: 6px;
    display: table;
}
li.currency-option-li:hover { background-color: rgb(245, 245, 245); }
.currency-key {
    width: 4vw;
    display: table-cell;
    font-size: small;
}
.currency-value {
    width: 20vw;
    font-size: smaller;
    display: table-cell;
}
.number-button img { width: 1.5rem; }

.arrow {
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#displayedSelectedOption {
    width: 75%;
    display: inline-flex;
}
