@media screen and  (min-width:481px)  { /* tablet < */ 
    /* #contentWrapper { height: 100vh; }
    #formWrapper {
        flex-direction: row;
    }
    .slider-item {
        max-height: 70vh;
    } */
}

@media screen and  (min-width:320px ) and (max-width: 480px)  { /* phone */ 
    /* #formWrapper {
        flex-direction: column;
    }
    .slider-item {
        max-height: 20vh;
    } */
}


@media screen and  (min-width:1280px)  { /* more than 1281 < */ 
    #contentWrapper { height: 100vh; }
    #formWrapper {
        flex-direction: row;
    }
    .form-item { margin: 10px 0; }
    .slider-item {
        max-height: 40vw;
    }
    .slider-image {
        min-width: 800px;
        max-width: 1000px;
    }
}

@media screen and (max-width: 1279px)  { /* phone */ 
    #formWrapper {
        flex-direction: column;
    }
    .form-item { width: 100%; margin: 10px auto; }
    .slider-item {
        max-height: 40vw;
    }
    .slider-image {
        min-width: 100%;
    }
    #displayedImage{
        transform: perspective(750px) rotateX(15deg) rotateY(6deg) rotateZ(-54deg) skew(7deg,-8deg);
        position: absolute;
        top: 25%;
        left: 45%;
        padding: 20px;
        box-sizing: border-box;
        height: 20vw;
        width: 22vw;
    }
}
